ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/id
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/ambarimaster.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-1.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-2.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-3.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-4.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-5.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/action_set_name
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/private_key
ambari-tests/.vagrant/machines/node-6.cluster/virtualbox/synced_folders
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/action_provision
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/creator_uid
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/id
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/index_uuid
ambari-tests/.vagrant/machines/node-7.cluster/virtualbox/private_key